headerHeight = 80px
borderLine = 1px solid #797979

.invite-full
  width 100vw
  height 100vh
  //min-height 350px

  .invite-header
    font-size 22px
    font-weight 600
    height headerHeight
    line-height headerHeight
    padding-left 50px

  .invite-content
    //min-height 350px
    height calc(100vh - 160px)
    border-top borderLine
    border-bottom borderLine
    box-sizing border-box
    display grid
    place-items center
    overflow-y auto

  .invite-footer
    display grid
    place-items center
    height headerHeight
    background #fff

