#invite-message
  position fixed
  top 100px
  left 50%
  width 100px
  margin-left -50px
  span
    display inline-block
    margin-bottom 6px
    padding 3px 6px
    border 1px solid gray
    animation message 3s
    transition all ease 3s

@keyframes message
  0% {
    opacity 0
  }
  100% {
    opacity 1
  }