.invite-input
  margin-bottom 8px
  text-align left

  .input
    width 100%
    padding 8px
    background #fff
    color #797979
    outline none
    border: 1px solid #797979
    box-sizing border-box

    &:disabled
      border-color #d5d4d4
      color #d5d4d4

    &::-webkit-input-placehol
      color #FFF

  .error-message
    font-size 12px
    color red
    display inline-block