font12 = 12px
.font-italic
  font-style italic

.content-box
  text-align center

  .content-title
    font-size 32px
    font-weight 600
    margin 50px 0 0
    letter-spacing 6px

  .content-subTitle
    font-size font12
    font-weight 400
    margin 20px 0

  .dialog-content
    .message-title
      @extends .font-italic
      font-weight bold

    .message-content
      font-size font12

.footer-box
  @extends .font-italic
  text-align center